<form action="/foxes" method="post">
    <table>
        <tr>
            <td><p>Name:</p></td>
            <td><input type="text" value="" name="name"></td> 
        </tr>
        <tr>
            <td><p>Color of Fur:</p></td>
            <td><input type="text" value="" name="fur_color"></td>
        </tr>
        <tr>
            <td><p>How many snow-dives has it completed?</p></td>
            <td><input type="number" value="" name="dive_count"></td>
        </tr>
        <tr>
            <td><p>Total kill count?</p></td>
            <td><input type="number" value="" name="kills"></td>
        </tr>
    </table>
    <input type="submit" value="Register">
    <a href="/"> Back Home</a>
</form>